* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

$color-body: #bb3b3b;

body {
    background-color: $color-body;
}

.wrapper {
    width: 300px;
    height: 600px;
    margin: auto;
    background: linear-gradient(180deg, #2E2E2E 0%, #2C2C2C 50.52%, rgba(36, 36, 36, 0.87) 100%);
    border-radius: 14.7879px;
    margin: 30px auto;

    .theme {
        display: flex;
        justify-content: space-between;
        padding: 40px 30px;
        user-select: none;


        p {
            font-family: 'DM Sans';
            color: #CACACA;
        }

        .rectangle {
            background-image: url(./assets/Rectangle\ 21.svg);
            width: 100%;
            height: 2px;
        }
    }


    .calc-form {
        width: 300px;
        height: 150px;
        margin-left: 20px;

        .history {
            font: 400 20px 'Poppins';
        }

        .result {
            font: 400 40px 'Poppins';

        }
    }

    .calc-wrapper {
        width: 250px;
        margin: auto;
        font-family: 'Poppins';
        font-size: 35px;
        color: color-font;



        .row {
            display: flex;
            justify-content: space-between;


            div {
                width: max-content;
                width: 60px;
                height: 60px;
                background: rgb(95, 95, 95);
                border-radius: 50%;
                text-align: center;
                line-height: 60px;
                font-size: 25px;
                user-select: none;
                cursor: pointer;
                margin: 2px;
                color: #CACACA;
            }

            :last-child {
                color: #FF5454;
            }

            #zero {
                width: 50%;
                border-radius: 45px;
            }

            .data-equals {
                background: #FF5454;
                color: #CACACA;
            }

        }
    }
}